.person-info-container {
  margin: 0 auto;
  width: 1044px;
  height: 338px;
  background-color: #0084FF;
  margin-top: 64px;
  display: flex;
  flex-direction: row; }
  .person-info-container .person-info-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 273px; }
    .person-info-container .person-info-img img {
      height: 159px; }
  .person-info-container .person-info-data {
    width: 771px; }
    .person-info-container .person-info-data .person-info-text-wrapper {
      height: 260px;
      display: flex;
      align-items: center; }
      .person-info-container .person-info-data .person-info-text-wrapper .person-info-text {
        width: 45%;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        padding-top: 70px; }
        .person-info-container .person-info-data .person-info-text-wrapper .person-info-text .name {
          height: 40px;
          display: flex;
          align-items: center;
          font-size: 32px;
          font-weight: 900;
          white-space: nowrap;
          overflow: hidden;
          cursor: pointer; }
          .person-info-container .person-info-data .person-info-text-wrapper .person-info-text .name input {
            width: 100%;
            border: none;
            outline: none;
            font-size: 32px;
            font-weight: 900;
            color: #FFFFFF;
            font-family: 'Roboto', sans-serif;
            background-color: #0084FF; }
        .person-info-container .person-info-data .person-info-text-wrapper .person-info-text .job-position {
          height: 30px;
          display: flex;
          align-items: center;
          font-size: 22px;
          margin-bottom: 20px;
          overflow: hidden;
          cursor: pointer; }
          .person-info-container .person-info-data .person-info-text-wrapper .person-info-text .job-position input {
            width: 100%;
            border: none;
            outline: none;
            font-size: 22px;
            color: #FFFFFF;
            font-family: 'Roboto', sans-serif;
            background-color: #0084FF; }
          .person-info-container .person-info-data .person-info-text-wrapper .person-info-text .job-position input:focus {
            outline: none; }
        .person-info-container .person-info-data .person-info-text-wrapper .person-info-text .date, .person-info-container .person-info-data .person-info-text-wrapper .person-info-text .address, .person-info-container .person-info-data .person-info-text-wrapper .person-info-text .city {
          font-size: 14px;
          height: 20px;
          display: flex;
          align-items: center;
          cursor: pointer; }
          .person-info-container .person-info-data .person-info-text-wrapper .person-info-text .date input, .person-info-container .person-info-data .person-info-text-wrapper .person-info-text .address input, .person-info-container .person-info-data .person-info-text-wrapper .person-info-text .city input {
            width: 100%;
            border: none;
            outline: none;
            font-size: 14px;
            color: #FFFFFF;
            font-family: 'Roboto', sans-serif;
            background-color: #0084FF; }
      .person-info-container .person-info-data .person-info-text-wrapper .person-phone-email-wrapper {
        width: 55%;
        display: flex;
        padding: 70px 0px 0px 0px; }
        .person-info-container .person-info-data .person-info-text-wrapper .person-phone-email-wrapper .person-phone-email-container .phone-email-container {
          display: flex;
          flex-direction: row;
          align-items: center; }
          .person-info-container .person-info-data .person-info-text-wrapper .person-phone-email-wrapper .person-phone-email-container .phone-email-container .phone-email-icon {
            background-color: #0072DB;
            width: 52px;
            height: 52px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center; }
          .person-info-container .person-info-data .person-info-text-wrapper .person-phone-email-wrapper .person-phone-email-container .phone-email-container .phone, .person-info-container .person-info-data .person-info-text-wrapper .person-phone-email-wrapper .person-phone-email-container .phone-email-container .email {
            color: #FFFFFF;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            margin-left: 30px;
            cursor: pointer; }
            .person-info-container .person-info-data .person-info-text-wrapper .person-phone-email-wrapper .person-phone-email-container .phone-email-container .phone input, .person-info-container .person-info-data .person-info-text-wrapper .person-phone-email-wrapper .person-phone-email-container .phone-email-container .email input {
              width: 100%;
              border: none;
              outline: none;
              font-size: 20px;
              color: #FFFFFF;
              font-family: 'Roboto', sans-serif;
              background-color: #0084FF; }
        .person-info-container .person-info-data .person-info-text-wrapper .person-phone-email-wrapper .person-phone-email-container .phone-email-container:first-child {
          margin-bottom: 20px;
          cursor: pointer; }
    .person-info-container .person-info-data .social-networks-container {
      display: flex;
      align-items: center;
      height: 78px; }
      .person-info-container .person-info-data .social-networks-container img {
        height: 42px; }
